/*index*/

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background-color: rgba(255, 255, 255, 1);
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.background-overflow-header {
    background-color: rgba(110, 179, 61, 0.07);
}

.background-overflow-footer {
    background-color:  rgba(0, 29, 20, 1);
}

/*Header*/

.header {
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    height: 64px;
    font-family: "Inter", sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 25px;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 16px;
    padding: 0;
}

.nav-list li a {
    text-decoration: none;
    font-family: "inter" sans-serif;
    color: rgba(16, 24, 40, 1);
    font-size: 14px;
    font-weight: 500;
    gap: 16px;
}

.nav-list li a:hover {
    text-decoration: underline;
}

.right-section {
    display: flex;
    align-items: center;
    gap: 28px;
}

.search-item {
    border: 1px solid rgba(234, 236, 240, 1);
    border-radius: 6px;
    padding: 0 10px;
}

.search-item img {
    display: inline;
    position: relative;
    top: 4px;
}

.search-input {
    border: none;
    padding: 8px, 16px, 8px, 16px;
    font-size: 14px;
    outline: none;
    gap: 40px;
    height: 40px;
    font-weight: 400;
    color: rgba(152, 162, 179, 1);
}

.icon {
    font-size: 16px;
    cursor: pointer;
}

#liked:hover {
    background-image: url('/images/liked-hover.png');
    transition: 5s;
}

#cart:hover {
    background-image: url('/images/cart-hover.png');
    transition: 5s;
}

#profile:hover {
    background-image: url('/images/profile-hover.png');
}

/*Logo Section*/

.header-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100vh;
   text-align: center;
   height: 739px;
   top: 64px;
}

.logo {
    width: 198px;
    height: 48px;
    padding: 4.68px, 11.71px, 4.68px, 11.71px;
    margin-top: -250px;
    left: 541px;
}

.header-container h1 {
    font-size: 40px;
    margin-bottom: 20px;
    color: rgba(0, 29, 20, 1);
    font-weight: 600;
    line-height: 48.41px;
    width: 329px;
    height: 96px;
    align-items: center;
    top: 168px;
    font-family: "Inter", sans-serif;
}

.shop-now-button {
    display: inline-block;
    padding: 10px, 28px, 10px, 28px;
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(110, 179, 61, 1);
    border-radius: 20px;
    text-decoration: none;
    transition: background-color 0.3s;
    width: 132px;
    height: 39px;
    gap: 10px;
    place-content: center;
    font-family: "Inter", sans-serif;
}

.shop-now-button:hover {
    background-color: rgba(69, 130, 11, 1);
}

/*Special Offers Section*/

.special-offers {
    padding: 50px 20px;
    text-align: left;
    margin-top: -240px;
    font-family: "Inter", sans-serif;
}

.special-offers-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.arrow-buttons {
    display: flex;
    padding: 22px 10px;
    gap: 12px;
    justify-content: flex-end;
}

.arrow-buttons button {
    background-color: #ffffff;
    border: none;
    color: black;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
    line-height: 1;
    width: 40px;
    height: 40px;
}

.special-offers h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
    top: 558px;
    left: 25px;
    display: flex;
}

.offer-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    overflow: hidden;
    position: relative;
}

.offer-grid a {
    size: 10px;
}

.offer-item {
    border-radius: 28px;
    height: 500px;
    text-align: left;
    background-color: #ffffff;
    position: relative;
    overflow: hidden;
}

.offer-item-1 {
    width: 500px;
}

.offer-item-2 {
    width: 446px;
}

.offer-item-3 {
    width: 405px;
}

.offer-item-4 {
    width: 328px;
}

.background-image {
    object-fit: cover;
    border-radius: 28px;
    position: absolute;
    width: 100%;
    height: 100%;
    filter: brightness(60%);
}
.offer-grid p {
    margin: 10px 0;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    padding: 32px;
}

.add-to-bag button {
    background-color: transparent;
    color: white;
    border: 1px solid;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    width: 125px;
    height: 35px;
}

.special-offer-like button {
    border: none;
    background-color: transparent;
    padding: 8px;
}

.button-container-1 {
    display: flex;
    padding: 10px;
    left: 30px;
    bottom: 30px;
    position: absolute;
    gap: 4px;
}

/*Curated Items Section*/

.curated-items {
    padding: 50px 20px;
    display: grid;
    gap: 10px;
}

.curated-items h2 {
    font-size: 24px;
    color: rgba(0, 29, 20, 1);
    margin-bottom: 20px;
}

.curated-items h4 {
    font-size: 18px;
    color: rgba(0, 29, 20, 1);
    margin-bottom: 20px;
    place-self: center;
}

.curated-grid {
    position: relative;
    gap: 10px;
    display: grid;
    grid-template-columns: 16% 16% 16% 16% 16% 16%;
    grid-template-rows: 286px 286px 286px 286px 286px;
    grid-template-areas: 
        "item-1 item-1 item-1 item-1 item-2 item-2"
        "item-1 item-1 item-1 item-1 item-3 item-3"
        "item-4 item-4 item-4 item-5 item-5 item-5"
        "item-4 item-4 item-4 item-5 item-5 item-5"
        "item-6 item-6 item-7 item-7 item-8 item-8";
}

.curated-item {
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.curated-item-1 {
    grid-area: item-1;
}

.curated-item-2 {
    grid-area: item-2;
}

.curated-item-3 {
    grid-area: item-3;
}

.curated-item-4 {
    grid-area: item-4;
}

.curated-item-5 {
    grid-area: item-5;
}

.curated-item-6 {
    grid-area: item-6;
}

.curated-item-7 {
    grid-area: item-7;
}

.curated-item-8 {
    grid-area: item-8;
}

.curated-grid img {
    object-fit: cover;
    border-radius: 28px;
    position: absolute;
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(115, 115, 115, 0), rgba(0, 0, 0, 0.85));
    width: 100%;
    height: 100%;
    border-radius: 28px;
}

.curated-grid p {
    margin: 10px 0;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    left: 24px;
    bottom: 20px;
}

.curated-grid b {
    font-size: 24px;
}

/*Shop Now Section*/

.shop-now-items {
    margin: 0 auto;
    padding: 50px 20px;
    gap: 10px;
}

.shop-now-header {
    display: flex;
}

.shop-now-item h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.shop-now-items h4 {
    display: flex;
    font-size: 18px;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 20px;
    place-content: center;
    padding-top: 60px;
}

.tabs {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px 48px;
}

.tab {
    padding: 8px, 16px, 8px, 16px;
    border: 1px solid rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 1);
    cursor: pointer;
    font-size: 16px;
    width: 140px;
    height: 35px;
    font-weight: 400;
    font-size: 16px;
    border-radius: 6px;
}

.tab-active {
    background-color: rgba(0, 0, 0, 1);
    color: #fff;
    width: 100px;
    height: 35px;
    padding: 8px, 16px, 8px, 16px;
    font-weight: 400;
    font-size: 16px;
    border-radius: 6px;
    border: none;
}

.product-grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 302px;
    grid-template-areas: 
        "item-9 item-10 item-11 item-12";
    justify-content: center;
    gap: 16px;
    position: relative;
    margin: 0 20px;
}

.product-item-1 {
    grid-area: item-9;
}

.product-item-2 {
    grid-area: item-10;
}

.product-item-3 {
    grid-area: item-11;
}

.product-item-4 {
    grid-area: item-12;
}

.product-card {
    border-radius: 28px;
    text-align: left;
    background-color: #fff;
    position: relative;
}

.product-card-image {
    object-fit: cover;
    border-radius: 28px;
    width: 100%;
    height: 302px;
}

.product-card p {
    margin: 10px 0;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
}

.product-card-buttons {
    position: absolute;
    top: 12px;
    right: 12px;
}

.product-card button {
    width: 31.18px;
    height: 31.18px;
    border-radius: 7.09px;
    border: none;
    background-color: rgba(255, 255, 255, 1);
    display: block;
    margin-bottom: 5.2px;
}

/*Email Input*/

.subscribe-section {
    padding: 50px 20px;
    text-align: center;
}

.subscribe-section p {
    font-size: 16px;
    font-weight: 600;
    color: rgba(0, 29, 20, 1);
    padding-bottom: 20px;
}

.subscribe-form {
    display: flex;
    place-content: center;
}

.email-input {
    border: none;
    width: 330px;
    height: 48px;
    border-radius: 4px 0px 0px 4px;
    font-weight: 400;
    font-size: 14px;
    background-color: rgba(249, 250, 251, 1);
    padding-block: 0px;
}

.subscribe-section ::placeholder {
    color: rgba(123, 170, 155, 1)
}

.subscribe-section button {
    width: 55px;
    height: 48px;
    border-radius: 0px 4px 4px 0px;
    background-color: rgba(0, 29, 20, 1);
    color: #fff;
    border: none;
}

/*Footer*/

.footer {
    height: 130px;
    padding: 50px 20px;
}

.footer-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact-info {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
}

.contact-info b {
    font-size: 16px;
    font-weight: 600;
}

.contact-info a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

.social-icons {
    display: inline;
    flex-direction: row;
}

.social-icon-2 {
   display: flex;
   margin-top: 16px;
}

.footer-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-links a {
    text-decoration: none;
    color: #fff;
    display: inline-flex;
    padding: 12px 16px 10px 0;
    font-size: 10px;
}

.powered-by {
place-content: flex-end;
}

/*Tablet*/
@media only screen and (max-width: 800px) {
    .curated-grid {
     grid-template-columns: 25% 25% 25% 25%;
     grid-template-rows: 150px 150px 150px 150px 150px 150px 150px;
     grid-template-areas:
        "item-1 item-1 item-2 item-2"
        "item-1 item-1 item-3 item-3"
        "item-4 item-4 item-5 item-5"
        "item-4 item-4 item-5 item-5"
        "item-6 item-6 item-7 item-7"
        "item-8 item-8 item-8 item-8"
        "item-8 item-8 item-8 item-8";
     place-content: center;
     padding: 0 10px;

    }

    .product-grid {
     grid-template-columns: 50% 50%;
     grid-template-rows: 350px 302px;
     grid-template-areas: 
        "item-9 item-10"
        "item-11 item-12";
    }
}

/*Mobile*/
@media only screen and (max-width: 640px) {
  .curated-grid {
    grid-template-columns: 50% 50%;
    grid-template-rows: 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px;
    grid-template-areas: 
        "item-1 item-2"
        "item-1 item-2"
        "item-1 item-3"
        "item-1 item-3"
        "item-4 item-5"
        "item-4 item-5"
        "item-4 item-5"
        "item-6 item-7"
        "item-6 item-7"
        "item-8 item-8"
        "item-8 item-8"
        "item-8 item-8";
    place-content: center;
    padding: 0 8px;
  }

   .product-grid {
     grid-template-columns: 50% 50%;
     grid-template-rows: 350px 302px;
     grid-template-areas: 
        "item-9 item-10"
        "item-11 item-12";
    }
}

/*Product View*/

.product-view .col{
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.row{
    padding: 50px 20px;
    display: flex;
    flex-wrap: wrap;
}

.product-container {
    display: grid;
    gap: 10px;
    left: 47px;
    top: 140px;
    padding-bottom: 150px;
    grid-area: item-1;
}

.item-grid {
    position: relative;
    display: grid;
    max-width: 484px;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 500px 112px;
    grid-template-areas: 
    "item-1 item-1 item-1 item-1"
    "item-2 item-3 item-4 item-5";
    gap: 13px;
}

.product-image {
    background-color: rgba(249, 250, 251, 1);
    border-radius: 12px;
    overflow: hidden;
    position: relative;
}

.product-image img {
    object-fit: contain;
    border-radius: 28px;
    position: absolute;
}

.product-image-big img {
    width: 382px;
    height: 213px;
    left: 80px;
    top: 140px;
}

.product-image-small img {
    width: 78.04px;
    height: 43.46px;
    left: 25px;
    top: 30px;
}

.product-image-small {
    border: 1px solid transparent;
}

.product-image-small:hover {
    border: 1px solid rgba(69, 130, 11, 1);
}

.product-image-big {
    grid-area: item-1;
}

.product-image-small-1 {
    grid-area: item-2;
}

.product-image-small-2 {
    grid-area: item-3;
}

.product-image-small-3 {
    grid-area: item-4;
}

.product-image-small-4 {
    grid-area: item-5;
}


.product-details {
    position: relative;
    display: flex;
    flex-direction: column;
}

.product-choose {
    grid-area: item-2;
    max-width: 550px;
    padding-top: 50px;
}

.product-name h1 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: -20px;
    color: rgba(0, 29, 20, 1);
    width: 167px;
}

.product-name h2 {
    font-size: 32px;
    color: rgba(69, 130, 11, 1);
    margin-bottom: 20px;
    font-weight: 500;
}

.product-description {
    font-size: 16px;
    margin-bottom: 20px;
    color: rgba(102, 112, 133, 1);
    font-weight: 400;
    line-height: 22.4px;
}

.product-options {
    margin-top: 20px;
}

.product-options label {
    font-size: 16px;
    font-weight: 500;
    display: block;
    margin-bottom: 5px;
    color: rgba(102, 112, 133, 1);
    margin-bottom: 16px;
}

.color-options {
    display: inline-flex;
    gap: 16px;
    place-items: center;
}

.color-options input {
    height: 24px;
    width: 24px;
    margin: 0 0 44px 0;
}

.color-options input:checked {
    height: 36px;
    width: 36px;
}

.size-options button {
    width: 80px;
    height: 48px;
    border-radius: 4px;
    gap: 10px;
    padding: 5px 10px;
    margin-right: 5px;
    border: 1px solid rgba(229, 231, 235, 1);
    background-color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    color: rgba(16, 24, 39, 1);
    margin-bottom: 44px;
}

.size-options button:hover {
    background-color: rgba(69, 130, 11, 1);
    color: rgba(255, 255, 255, 1);
}

.quantity-option input {
    width: 204px;
    height: 48px;
    border: 1px solid rgba(208, 213, 221, 1);
    border-radius: 4px;
    margin-bottom: 44px;
    padding-left: 10px;
}

.add-like {
    display: flex;
    gap: 8px;
}

.add-item {
    width: 360px;
    height: 56px;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: rgba(87, 155, 32, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
}

.add-item:hover {
    background-color:  rgba(69, 130, 11, 1);
}

.like-button-product {
    width: 56px;
    height: 56px;
    border-radius: 10px;
    background-color: rgba(243, 255, 240, 1);
    border: none;
}

/*Listings*/

.listings-header {
    padding: 10px 25px;
    color: rgba(0, 29, 20, 1);
    gap: 32px;
    margin-bottom: 50px;
}

.listings-header h1 {
    font-size: 43.5px;
    font-weight: 600;
    line-height: 52.64px;
    text-align: center;
}

.listings-header h2 {
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    text-align: center;
}

.listings-main-content {
    display: flex;
}

.filter-options {
    max-width: 240px;
    padding: 10px 25px;
    display: flex;
    flex-direction: column;
}

.filter-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    place-items: baseline;
    color: rgba(52, 64, 84, 1);
    margin-bottom: 20px;
}

.filter-title h3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
}

.filter-title img {
    padding-left: 10px;
}

.filter-title h4 {
    font-size: 12px;
    font-weight: 500;
    line-height: 14.4px;
    text-align: left;
}

.filters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    place-items: center;
    color: rgba(16, 24, 40, 1);
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
    text-align: left;
}

.main-listing {
    display: flex;
    position: relative;
}

.listings-grid {
    position: relative;
    row-gap: 60px;
    column-gap: 12px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 300px 300px 300px 300px;
    max-width: 900px;
}

.listings-container {
    display: flex;
    flex-direction: column;
}

.listings-item{
    display: flex;
    height: 215px;
}

.listings-card {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 12px;
    position: relative;
    border: 1px solid rgba(242, 244, 247, 1);
    overflow: hidden;
}

.listings-card-image {
    display: flex;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.listings-card-buttons {
    position: absolute;
    top: 12px;
    right: 12px;
}

.listings-card button {
    width: 31.18px;
    height: 31.18px;
    border-radius: 7.09px;
    border: none;
    background-color: rgba(255, 255, 255, 1);
    display: block;
    margin-bottom: 5.2px;
}

.listings-card-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 16.8px;
    font-size: 14px;
}

.listings-card-text h5 {
    font-weight: 600;
    text-align: left;
    color: rgba(0, 29, 20, 1);
}

.listings-card-text h6 {
    font-weight: 700;
    color: rgba(69, 130, 11, 1);
}

.page-button {
    display: flex;
    flex-direction: row;
    gap: 6px;
    width: 308px;
    margin-bottom: 60px;
}

.page-button button {
    height: 36px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    border-radius: 4px;
    border: 1px solid rgba(234, 236, 240, 1);
    text-align: center;
    color: rgba(29, 41, 57, 1);
    background-color: rgba(255, 255, 255, 1);
}

.pages-prev {
    width: 74px;
}

.pages-1 {
    width: 31px;
}

.pages-2 {
    width: 33px;
}

.pages-more {
    width: 31px;
}

.pages-4 {
    width: 33px;
}

.pages-next {
    width: 76px;
}
