body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background-color: rgba(255, 255, 255, 1);
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.background-overflow-header {
    background-color: rgba(110, 179, 61, 0.07);
}

.background-overflow-footer {
    background-color:  rgba(0, 29, 20, 1);
}

/*Header*/

.header {
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    height: 64px;
    font-family: "Inter", sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 25px;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 16px;
    padding: 0;
}

.nav-list li a {
    text-decoration: none;
    font-family: "inter" sans-serif;
    color: rgba(16, 24, 40, 1);
    font-size: 14px;
    font-weight: 500;
    gap: 16px;
}

.right-section {
    display: flex;
    align-items: center;
    gap: 28px;
}

.search-item {
    border: 1px solid rgba(234, 236, 240, 1);
    border-radius: 6px;
    padding: 0 10px;
}

.search-item img {
    display: inline;
    position: relative;
    top: 4px;
}

.search-input {
    border: none;
    padding: 8px, 16px, 8px, 16px;
    font-size: 14px;
    outline: none;
    gap: 40px;
    height: 40px;
    font-weight: 400;
    color: rgba(152, 162, 179, 1);
}

.icon {
    font-size: 16px;
    cursor: pointer;
}

/*Logo Section*/

.header-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100vh;
   text-align: center;
   height: 739px;
   top: 64px;
}

.logo {
    width: 198px;
    height: 48px;
    padding: 4.68px, 11.71px, 4.68px, 11.71px;
    margin-top: -250px;
    left: 541px;
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
    color: rgba(0, 29, 20, 1);
    font-weight: 600;
    line-height: 48.41px;
    width: 329px;
    height: 96px;
    align-items: center;
    top: 168px;
    font-family: "Inter", sans-serif;
}

.shop-now-button {
    display: inline-block;
    padding: 10px, 28px, 10px, 28px;
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(110, 179, 61, 1);
    border-radius: 20px;
    text-decoration: none;
    transition: background-color 0.3s;
    width: 132px;
    height: 39px;
    gap: 10px;
    place-content: center;
    font-family: "Inter", sans-serif;
}

.shop-now-button:hover {
    background-color: #4caf50;
}

/*Special Offers Section*/

.special-offers {
    padding: 50px 20px;
    text-align: left;
    margin-top: -240px;
    font-family: "Inter", sans-serif;
}

.special-offers-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.arrow-buttons {
    display: flex;
    padding: 22px 10px;
    gap: 12px;
    justify-content: flex-end;
}

.arrow-buttons button {
    background-color: #ffffff;
    border: none;
    color: black;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
    line-height: 1;
    width: 40px;
    height: 40px;
}

.special-offers h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
    top: 558px;
    left: 25px;
    display: flex;
}

.offer-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    overflow: hidden;
    position: relative;
}

.offer-grid a {
    size: 10px;
}

.offer-item {
    border: 1px solid #ddd;
    border-radius: 28px;
    height: 500px;
    text-align: left;
    background-color: #ffffff;
    position: relative;
    overflow: hidden;
}

.offer-item-1 {
    width: 500px;
}

.offer-item-2 {
    width: 446px;
}

.offer-item-3 {
    width: 405px;
}

.offer-item-4 {
    width: 328px;
}

.background-image {
    object-fit: cover;
    border-radius: 28px;
    position: absolute;
    width: 100%;
    height: 100%;
    filter: brightness(60%);
}
.offer-grid p {
    margin: 10px 0;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    padding: 32px;
}

.add-to-bag button {
    background-color: transparent;
    color: white;
    border: 1px solid;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    width: 125px;
    height: 35px;
}

.special-offer-like button {
    border: none;
    background-color: transparent;
    padding: 8px;
}

.button-container-1 {
    display: flex;
    padding: 10px;
    left: 30px;
    bottom: 30px;
    position: absolute;
    gap: 4px;
}

/*Curated Items Section*/

.curated-items {
    padding: 50px 20px;
    display: grid;
    gap: 10px;
}

.curated-items h2 {
    font-size: 24px;
    color: rgba(0, 29, 20, 1);
    margin-bottom: 20px;
}

.curated-items h4 {
    font-size: 18px;
    color: rgba(0, 29, 20, 1);
    margin-bottom: 20px;
    place-self: center;
}

.curated-grid {
    position: relative;
    overflow: hidden;
    justify-content: center;
    border-radius: 10px;
    gap: 10px;
    display: grid;
    grid-template-columns: 16% 16% 16% 16% 16% 16%;
    grid-template-rows: 286px 286px 286px 286px 286px;
    grid-template-areas: 
        "item-1 item-1 item-1 item-1 item-2 item-2"
        "item-1 item-1 item-1 item-1 item-3 item-3"
        "item-4 item-4 item-4 item-5 item-5 item-5"
        "item-4 item-4 item-4 item-5 item-5 item-5"
        "item-6 item-6 item-7 item-7 item-8 item-8";
}

.curated-item {
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.curated-item-1 {
    grid-area: item-1;
}

.curated-item-2 {
    grid-area: item-2;
}

.curated-item-3 {
    grid-area: item-3;
}

.curated-item-4 {
    grid-area: item-4;
}

.curated-item-5 {
    grid-area: item-5;
}

.curated-item-6 {
    grid-area: item-6;
}

.curated-item-7 {
    grid-area: item-7;
}

.curated-item-8 {
    grid-area: item-8;
}

.curated-grid img {
    object-fit: cover;
    border-radius: 28px;
    position: absolute;
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(115, 115, 115, 0), rgba(0, 0, 0, 0.85));
    width: 100%;
    height: 100%;
}

.curated-grid p {
    margin: 10px 0;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    left: 24px;
    bottom: 20px;
}

.curated-grid b {
    font-size: 24px;
}

/*Shop Now Section*/

.shop-now-items {
    margin: 0 auto;
    padding: 50px 20px;
}

.shop-now-header {
    display: flex;
}

.shop-now-item h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.shop-now-items h4 {
    display: flex;
    font-size: 18px;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 20px;
    place-content: center;
    padding-top: 65px;
}

.tabs {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px 48px;
}

.tab {
    padding: 8px, 16px, 8px, 16px;
    border: 1px solid rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 1);
    cursor: pointer;
    font-size: 16px;
    width: 140px;
    height: 35px;
    font-weight: 400;
    font-size: 16px;
    border-radius: 6px;
}

.tab-active {
    background-color: rgba(0, 0, 0, 1);
    color: #fff;
    width: 100px;
    height: 35px;
    padding: 8px, 16px, 8px, 16px;
    font-weight: 400;
    font-size: 16px;
    border-radius: 6px;
    border: none;
}

.product-grid {
    display: flex;
    justify-content: center;
    gap: 16px;
    position: relative;
}

.product-card-1 {
    grid-area: item-9;
}

.product-card-2 {
    grid-area: item-10;
}

.product-card-3 {
    grid-area: item-11;
}

.product-card-4 {
    grid-area: item-12;
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 28px;
    width: 450px;
    height: 450px;
    text-align: left;
    background-color: #fff;
    position: relative;
}

.product-card-image {
    object-fit: cover;
    border-radius: 28px;
    width: 100%;
    height: 100%;
    position: absolute;
}

.product-card p {
    margin: 10px 0;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    bottom: -60px;
}

.product-card-buttons {
    position: absolute;
    top: 12px;
    right: 12px;
}

.product-card button {
    width: 31.18px;
    height: 31.18px;
    border-radius: 7.09px;
    border: none;
    background-color: rgba(255, 255, 255, 1);
    display: block;
    margin-bottom: 5.2px;
}

/*Email Input*/

.subscribe-section {
    padding: 50px 20px;
    text-align: center;
}

.subscribe-section p {
    font-size: 16px;
    font-weight: 600;
    color: rgba(0, 29, 20, 1);
    padding-bottom: 20px;
}

.subscribe-form {
    display: flex;
    place-content: center;
}

.email-input {
    border: none;
    width: 330px;
    height: 48px;
    border-radius: 4px 0px 0px 4px;
    font-weight: 400;
    font-size: 14px;
    background-color: rgba(249, 250, 251, 1);
    padding-block: 0px;
}

.subscribe-section ::placeholder {
    color: rgba(123, 170, 155, 1)
}

.subscribe-section button {
    width: 55px;
    height: 48px;
    border-radius: 0px 4px 4px 0px;
    background-color: rgba(0, 29, 20, 1);
    color: #fff;
    border: none;
}

/*Footer*/

.footer {
    height: 130px;
    padding: 50px 20px;
}

.footer-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact-info {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
}

.contact-info b {
    font-size: 16px;
    font-weight: 600;
}

.contact-info a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

.social-icons {
    display: inline;
    flex-direction: row;
}

.social-icon-2 {
   display: flex;
   margin-top: 16px;
}

.footer-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-links a {
    text-decoration: none;
    color: #fff;
    display: inline-flex;
    padding: 12px 16px 10px 0;
    font-size: 10px;
}

.powered-by {
place-content: flex-end;
}

/*Mobile*/
@media only screen and (max-width: 640px) {
  .curated-grid {
    grid-template-columns: 50% 50%;
    grid-template-rows: 60px 60px 60px 60px 60px 60px 60px 60px 60px;
    grid-template-areas: 
        "item-1 item-2"
        "item-1 item-2"
        "item-1 item-3"
        "item-1 item-3"
        "item-4 item-5"
        "item-4 item-5"
        "item-4 item-5"
        "item-7 item-8"
        "item-7 item-8";
  }

  .product-grid {
    grid-template-columns: 50% 50%;
    grid-template: 120px 120px;
    grid-template-areas: 
    "item-9 item-10"
    "item-11 item-12";
  }
}

/*Tablet*/
@media only screen and (max-width: 800px) {
    .curated-grid {
     grid-template-columns: 25% 25% 25% 25%;
     grid-template-rows: 150px 150px 150px 150px 150px;
     grid-template-areas:
        "item-1 item-1 item-2 item-2"
        "item-1 item-1 item-3 item-3"
        "item-4 item-4 item-5 item-5"
        "item-4 item-4 item-5 item-5"
        "item-6 item-6 item-7 item-7";
    }

    .product-grid {}
}
